package main

templ PageAbout() {
	@RootLayout("Home") {
		<main class="bg-slate-900 text-slate-950 w-full pt-20 min-h-screen gap-2 flex flex-col items-center justify-start">
			This the about page
			@Download()
		</main>
	}
}

templ Download() {
	<button>
		
	</button>
}